@import "https://unpkg.com/open-props";

:root {
  --100vh: 100%;
  --max-width: 960px;
  --background: var(--gray-11);
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--gray-2);
  font-family: var(--font-sans);
  font-size: var(--font-size-1);
  max-width: var(--max-width);
  margin: 0 auto;
}

a {
  color: var(--blue-7);
}

input {
  margin: var(--size-1);
  padding: var(--size-2) var(--size-3);
  background: var(--gray-9);
  color: var(--gray-1);
  border-radius: var(--radius-4);
  font-family: var(--font-sans);
  font-size: var(--font-size-1);
  border: none;
  outline: 1px solid var(--gray-8);
}

button {
  margin: var(--size-1);
  padding: var(--size-1) var(--size-3);
  border-radius: var(--radius-4);
  border: none;
  background: var(--gray-10);
  border: 1px solid var(--blue-10);
  color: var(--gray-1);
  font-family: var(--font-sans);
  font-size: var(--font-size-1);
}

button:hover {
  cursor: pointer;
  background: var(--gray-9);
  border: 1px solid var(--blue-9);
}

::-webkit-scrollbar {
  width: var(--size-2);
}

::-webkit-scrollbar-track {
  background: var(--gray-11);
}

::-webkit-scrollbar-thumb {
  background: var(--gray-8);
  border-radius: var(--radius-4);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gray-9);
}

pre code {
  border-radius: var(--radius-2);
  border: 1px solid var(--gray-9);
}

/* -- #header -- */

header {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: var(--max-width);
  background: var(--background);
  border-bottom: 1px solid var(--gray-9);
}

/* -- #menu -- */

#menu {
  display: grid;
  grid-template-columns: 1fr auto auto;
}

#menu h1 {
  margin: var(--size-1);
  padding: var(--size-2) var(--size-3);
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-7);
  display: inline-block;
}

#menu #clear {
  border: 1px solid var(--red-10);
}

#menu #clear:hover {
  cursor: pointer;
  background: var(--gray-9);
  border: 1px solid var(--red-9);
}

/* -- #key -- */

.key {
  display: grid;
  grid-template-columns: 1fr auto;
}

/* -- #chat -- */

#usage {
  text-align: center;
  color: var(--gray-7);
  font-style: italic;
}

#usage a {
  color: var(--blue-10);
}

#chat {
  min-height: 0;
  overflow: auto;
  margin: var(--size-9) var(--size-1);
}

#chat .user {
  padding: var(--size-2);
  text-align: center;
  font-weight: bold;
}

#chat .assistant {
  padding: var(--size-1);
  color: var(--gray-3);
}

#chat .assistant img {
  width: 100%;
}

#chat .assistant .error {
  font-family: var(--font-mono);
  color: var(--red-8);
}

/* -- #prompt -- */

#submit {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: var(--max-width);
  background: var(--background);
  display: grid;
  grid-template-columns: 1fr auto;
}
